*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.container{
    background-color:rgb(214, 185, 241);
  height: 100vh;
  border: 10px solid black ;

}
.content{

    max-width: 900px;
    margin: 0 auto;
}
img{
    border-radius:50%;
    overflow: hidden;
    /* margin-top: -20px; */
}

.image,
img{
width:300px;
height:300px;


}
.top_section{
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;

}
.top_section h1{
    font-size: 50px;
    font-weight:bold;
    color:black;

}
h4{
    text-align: right;
    font-size: 30px;
}
.about{
    margin-top:50px;
}
.about h2{
    font-size: 70px;
    font-weight:bold;
    margin-bottom: 20px;
}
